.property-page-wrapper{
    width:100vw;
    overflow-x: hidden;
    gap:2rem;
    padding:5.5%;
    margin-bottom: 8rem;
}

.property-slide-image{
    width: 100%;
    background-image: url("/staging/img/Rectangle 8 (2).png");
    padding:0;
    height: 60vh;
    border-radius:10px;
    padding:30px;
    position:relative;
}
.nav-arrows{
    position:absolute;
    top: 50%;
    left: 2.5%;
    display:flex;
    justify-content:space-between;
    width:95%;
}
.mobile-icon-section{
    display:none;

}
.property-slide-image img{
    width: 100%;
}


.property-left-section{
    width:calc(100% - 40%);

}
.property-left-word-sect{
    padding:2rem 0;
    /* border-bottom: 1px solid #DDDDDD; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.features_description{
    border-top: 1px solid #DDDDDD;
    padding-top:3rem;
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #282828;

}
.switch{
    background: #F3ECFF;
    border-radius: 20px;
    display: flex;
    gap: 5rem;
    width: 70%;
    margin-top: 50px;
    align-items:center;
}
.switch .monthly{
    background: #FFF;
    border-radius: 20px;
    height: 100%;
    width: 30%;
    border: 1px solid #413C68;
    text-align: center;
    padding:5px 0;

}
.switch .annual{
    /* text-align: center; */
}
.rent-and-yield{
    margin-top:50px;
    width: 70%;
    display: grid;
    gap: 1rem;
}
.rent-and-yield .key-and-value{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.rent-and-yield h1{
    font-family: 'Cera Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #16163D;
  
}
.rent-and-yield p{
    font-family: 'Cera Pro';
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #282828;
}

.payment-box{
    background: #F3ECFF;
    border-radius: 7px;
    padding:2rem;
    /* width: 90%; */
}
.payment-box h2{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #282828;
}
.payment-box >h4,
.payment-box >p,
.payment-box >h1{
    text-align: center;
    color: #282828;
    font-family: 'Cera Pro';
}
.payment-box >h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.payment-box > p{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}
.payment-box > h1{
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}
.financing-options-sect{
    width:90%;
    margin:auto;
}
.financing-options-sect p{
    font-family: 'Cera Pro';
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #282828;
    white-space: nowrap;
}
.option-list1,
.option-list2,
.option-list3{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding:1.5rem 0rem;
}
.option-list1,
.option-list2{
    border-bottom:1px dashed #B2A7B7;
}

.finance-right-options{
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    border-left: 1px solid #B2A7B7;
    padding-left: 2rem;
}
.finance-right-options button{
    padding:15px 20px;
    background: #64318A;
    border-radius: 5px;
    color:#fff;
    height:fit-content;
    border: 1px solid #64318A;
}
.finance-left-options .finance{
    font-family: 'Cera Pro';
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #282828;
    line-height: 20px;
    white-space: nowrap;
}


/*  */

.price-discount-sect{
    display: flex;
    gap: 1rem;
}
.location-sect{
    display: flex;
    gap: 0.3rem;
}
.property-props{
    display: flex;
    gap: 1rem;
}
.property-left-word-sect h1, 
.property-left-word-sect h2, 
.property-left-word-sect h3,
.property-left-word-sect p{
    color: #282828;
    font-family: 'Cera Pro';

}
.property-left-word-sect h1{
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}
.property-left-word-sect h2{
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
}
.property-left-word-sect h3{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.property-left-word-sect p{
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
}

.property-right-wrapper{
    padding:0;
    position: fixed;
    right: 20px;
    top: 80px;
    width: 40%;
}


.like-share-card{
    background: #FFFFFF;
    padding:1rem ;
    padding-right:1rem ;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    width:80%;
    margin:auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.like-share-word-sect{
    border-bottom: 1px solid #DDDDDD;
    padding:0.8rem 0;
    margin-bottom:1.5rem;
}
.like-share-card h3{
    font-family: 'Cera Pro';
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #282828;
}
.like-share-card p{
    font-family: 'Cera Pro';
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
}

.book-inspection-btn{

}


.book-inspection-btn button{
    width:100%;
    background: #64318A;
    padding:0.7rem 0;
    border: 1px solid #64318A;
    color: #fff;
    border-radius:5px;
}
.book-inspection-like-share{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding:1rem 0;
}
.book-inspection-like-share button{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 0.5rem;
    padding:0.5rem;
    border-radius:7px;
    border: 1px solid #282828;
    background: transparent;
}









.slidecontainer {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    justify-content:center;
    margin: 40px 0;
  }
.percentage-values{
    display:flex;
    font-family: "Helvetica Neue",Helvetica,Arial;
    justify-content:space-between;
    width:90%;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #282828;
    text-align: center;

}
.percentage-values-mobile{
    display: none;
}
.book-inspection-mobile{
    display: none;
}
  
  .slider {
    -webkit-appearance:none;
    width: 90%;
    height: 5px;
    margin: 0 auto;
    background: #000;
    border-radius:10px;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 30px;
    border-radius: 40%;
    background: #515BE0;
    cursor: pointer;
    /* overflow-x:hidden; */

  }
  
  .slider::-moz-range-thumb {
    width: 45px;
    height: 30px;
    background: #515BE0;
    cursor: pointer;
  }


  @media screen and (max-width:1024px) {
    .property-page-wrapper{
        padding:2%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .property-left-section{
        width:100%;

    
    }
    .property-right-wrapper{
        padding:0;
        position:static ;
        margin:10px auto;
        width: 70%;
        display: none;

    }
    .property-slide-image img{
        width: 100%;
    }
    .payment-box{
        padding:1rem;
    }
    .financing-options-sect{
        width:100%;
        margin:auto;
    }
    .property-left-word-sect h1{
        font-size: 20px;
    }
    .property-left-word-sect h2{
        font-size: 18px;
    }
    .option-list1,
.option-list2,
.option-list3{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding:1.5rem 0rem;
}
.finance-left-options .finance{
    font-size: 14px;
}
.finance-right-options{
    /* border: none; */
    padding-left:5%;
    margin-left: 3%;
    gap: 0.2rem;
}
.percentage-values{
    display: none;
}
.finance-right-options button {
    padding: 7px 10px;
    height: fit-content;
    border: 1px solid #64318A;
}

.slidecontainer {
    width: 100%;
    display:none;
}
.percentage-values-mobile{
    width: 90%;
    margin: 30px auto;
    display: block;
}
.percentage-values-mobile button{
    width: 80%;
    margin: auto;
}
.book-inspection-mobile{
    width: 90%;
    margin: 30px auto;
    display: block;
    position:fixed;
    bottom:0px;
}
.book-inspection-mobile button{
    width: 80%;
    margin: auto;
}
.switch .monthly{
    width: 45%;
}
.features_description{
    font-size: 16px;
}
.mobile-icon-section{
    display:flex;
    justify-content:right;
}
.mobile-icon-section div{
    display:flex;
    gap: 1rem;
}
.mobile-icon-section div button{
    padding:1rem 1.5rem;
    border-radius:4px;
    border: none;
}
    
  }